<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>image</key>
	<string>grinning</string>
	<key>name</key>
	<string>经典</string>
	<key>Id</key>
	<string>local</string>
	<key>icons</key>
	<array>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>哈哈</string>
			<key>emojiImage</key>
			<string>grinning</string>
			<key>emojiCode</key>
			<string>[grinning]</string>
		</dict>
	</array>
</dict>
</plist>
