<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Id</key>
		<string>local</string>
		<key>path</key>
		<string>EmojiSutra</string>
		<key>type</key>
		<integer>0</integer>
		<key>disable</key>
		<false/>
	</dict>
	<dict>
		<key>Id</key>
		<string>local</string>
		<key>path</key>
		<string>EmojiPanda</string>
		<key>type</key>
		<integer>0</integer>
		<key>disable</key>
		<false/>
	</dict>
	<dict>
		<key>Id</key>
		<string>local</string>
		<key>path</key>
		<string>EmojiGirl</string>
		<key>type</key>
		<integer>1</integer>
		<key>disable</key>
		<false/>
	</dict>
</array>
</plist>
