<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>image</key>
	<string>girl_beg</string>
	<key>name</key>
	<string>矮矮女</string>
	<key>Id</key>
	<string>local</string>
	<key>icons</key>
	<array>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
		<dict>
			<key>emojiName</key>
			<string>求包养</string>
			<key>emojiImage</key>
			<string>girl_beg</string>
			<key>emojiCode</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
